@model IEnumerable<SmartSchoolSystem.Models.TimeTableIndexViewModels>

@{
    ViewBag.Title = "Index";
}
<style>
    .button
    {
        background-color:black; 
        border-color:black; 
        color:white;

    }
</style>

<h2 style="text-align:center;">Time Table Index Page</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (HelperClass.account == "Admin")
    {
<p style="padding-left:200px">
    <button style="background-color:black;">
    @Html.ActionLink("Add New Time Table Entry", "Create", "TimeTable",new { @class = "button" })
</button>
</p>
    }
<div style="padding-left:150px;">
    <label>Class: </label> &nbsp;
    <select id="Classlist" name="Classlist">

        @foreach (var o in ViewBag.Options)
        {
            <option value="@o.ToString()">@o.ToString()</option>
        }
    </select>
</div>
 if (HelperClass.account == "Admin")
 {
<div style="align-self:center; text-align:center;padding-bottom:30px;">
    <input type="submit" style="background-color:black; border-color:black; align-self:center; color:white;" value="Show Time Table" class="btn btn-default" />
</div>
 }
<div style="align-self:center; text-align:center;padding-bottom:30px;">
    <input type="button" name="timetable" id="timetable" style="background-color:black; border-color:black; align-self:center; color:white;" value="Show Time Table" class="btn btn-default" />
</div>
    if (HelperClass.account == "Admin")
    {
<h4 style="text-align:center;">@ViewBag.classname</h4>
<div style= "padding-left : 200px;">

    <table class="table"style="border: 5px solid #000000; border-radius: 5px;align-self:center; width: 90%; height: auto;">
        <tr>
            <th>
                
                   Day
                

            </th>
            <th>
                Subject Name

               
            </th>
            <th>
                Time
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    
                    @Html.DisplayFor(modelItem => item.dayname)
                        
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.subjectname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.time)
                </td>
                <td>
                   @if (HelperClass.account == "Admin")
                   {
                       <div  >
                           <button class="button">                    
                               @Html.ActionLink("Delete", "Delete", new { subjectname = item.subjectname, classname = ViewBag.classname, dayname = item.dayname, time = item.time }, new { @class = "button" })
                               </button>
                   </div>
                   }
                </td>
            </tr>
        }

    </table>
    </div>
    }
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    $("#timetable").click(function()
    {
        gototimetable();
    })
    /*$(document).ready(function () {
        $("#timetable").click(function () {
            //$.post("/TimeTable/redirecttodetailedtimetable", {classname: $("#Classlist").find(":selected").text()})

            var url = 'http://localhost:50566/TimeTable/redirecttodetailedtimetable';
            var data = {
                classname: $("#Classlist").find(":selected").text()
            };
            $.getJSON(url, classname, function (status) {
                if (status === 200) {
                    window.location.href = "http://localhost:50566/TimeTable/DetailedTimeTable";
                }
            })
           
        });
       
    });*/
    function gototimetable()
    {
        debugger;
        event.preventDefault();
        var $url = '/TimeTable/redirecttodetailedtimetable';
        $.ajax({
            url: $url,
            type: 'POST',
            datatype: 'json',
            data: jQuery.param({
                classname: $("#Classlist").find(":selected").text()
            }),
            success: function(r)
            {
                window.location.href = '/TimeTable/DetailedTimeTable'
            }
        })
    }
</script>
